@charset "UTF-8";
@import url("https://rsms.me/inter/inter.css");
:root {
  --textColor: #000;
  --secondaryTextColor: #2e2e2e;
  --tertiaryTextColor: #8a8a8a;
  --hoverColor: #eee;
  --backgroundColor: #fff;
  --greyColor: #858585;
  --borderColor: #dcdcdc;
  --highlightColor: #ffff00;
  --hideInfoBtn: #a5a5a5;
  --headerColor: black;
  --deleteColor: #f74040;
  background-color: var(--backgroundColor);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter Var", "Inter", "Helvetica", sans-serif;
}

::-moz-selection {
  background: var(--highlightColor);
}

::selection {
  background: var(--highlightColor);
}

html {
  text-align: center;
  overflow-x: hidden;
  background-color: var(--backgroundColor);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 95vw;
  color: var(--textColor);
  background-color: var(--backgroundColor);
}

button {
  outline: none;
  border: none;
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
}

h3 {
  margin-top: 1rem;
  color: var(--greyColor);
  font-weight: 400;
}

body {
  width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: var(--textColor);
  font-weight: 600;
}

input,
textarea,
select,
section .form button {
  font-size: 1rem;
  text-align: center;
  outline: none;
  border: 1px solid var(--borderColor);
  background: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0.5rem 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=tel] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield;
}

.header a {
  background: var(--highlightColor);
  color: var(--headerColor);
  padding: 0.2rem 1rem;
  font-size: 4rem;
  font-weight: 900;
}

.header {
  padding: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
}

.header-wrapper {
  border-bottom: 1px solid var(--borderColor);
  padding-bottom: 1rem;
}

.menu {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-cont {
  display: flex;
  justify-content: space-between;
}

.outer-cont {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.half-card {
  width: calc(50% - 0.5rem);
}

li {
  list-style: none;
  margin: 0.5rem 0;
}

.card {
  font-size: 0.9rem;
  width: var(--amount, 100%);
  padding: 1rem;
  border: 1px solid var(--borderColor);
  background: var(--backgroundColor);
  display: inline-block;
}

.outer-cont .card {
  margin-top: 1rem;
}

a.inline-a {
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  border-bottom: 3px solid var(--highlightColor);
  transition: 0.1s background-color ease-in-out, 0.1s color ease-in-out, border-color 0.1s ease-in-out;
}
a.inline-a::after {
  content: "↗";
  display: inline-block;
  width: 1rem;
  height: 1rem;
}
a.inline-a::-moz-selection {
  background: none;
}
a.inline-a::selection {
  background: none;
}

a.inline-a.inline-a-back::before {
  content: "←";
}

a.inline-a.inline-a-back::after {
  content: "";
  width: 0;
}

a.inline-a.inline-a-forward::after {
  content: "→";
}

.fa-regular,
.fa-bold {
  margin-left: 0.25rem;
}

a.card {
  font-weight: 400;
  font-size: 1rem;
  transition: 0.1s ease-in-out;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.menu button {
  border: 1px solid var(--borderColor);
  width: 200px;
  height: 60px;
  background: var(--backgroundColor);
  font-size: 1rem;
  margin: 0.5rem;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  color: var(--textColor);
}

aside {
  height: 7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer {
  min-height: 4rem;
  padding: 1rem 0;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
footer a {
  position: absolute;
  font-weight: 400;
  font-size: 0.8rem;
  padding: 0.5rem;
}
footer a#feedback-link {
  right: 0.5rem;
}
footer a#dark-mode-btn {
  left: 0.5rem;
}
footer a#dark-mode-btn::after {
  content: "";
}

header {
  display: flex;
  justify-content: space-between;
}

header .wrapper {
  flex: 1;
}

header #start-btn {
  width: -moz-fit-content;
  width: fit-content;
  text-align: left;
}

header #timer {
  text-align: right;
}

button#hide-info-btn {
  margin-top: 1rem;
  color: var(--secondaryTextColor);
  font-style: italic;
  font-size: 1rem;
  transition: color 0.1s ease-in-out;
}

h1#location {
  font-size: 3rem;
}

h2#role {
  font-size: 1.5rem;
}

div.info-container {
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

div.info-container p {
  cursor: pointer;
  border: 1px solid var(--borderColor);
  width: 9rem;
  height: 3rem;
  padding: 0.5rem 1rem;
  margin: 0.2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 0.1s ease-in-out;
  position: relative;
}
div.info-container p button {
  color: var(--textColor);
  position: absolute;
  right: 0;
  border-left: 1px solid var(--borderColor);
  height: 100%;
  width: 1.5rem;
  display: inline-block;
}
div.info-container p .fa-chess-king {
  position: absolute;
  left: 0.5rem;
}

div.info-container p::-moz-selection {
  background: none;
}

div.info-container p::selection {
  background: none;
}

section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

section .form {
  max-width: 80vw;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 4rem 2rem;
  background: var(--backgroundColor);
  border-radius: 16px;
}
section .form a.inline-a {
  padding: 0.3rem;
  padding-left: 0;
}

section .form p {
  font-weight: 600;
  visibility: hidden;
}

section .form input,
section .form button {
  margin: 0.3rem 0;
  width: 100%;
  color: var(--textColor);
  transition: background-color 0.1s ease-in-out;
}

section .form button#back-btn {
  border: none;
  width: -moz-fit-content;
  width: fit-content;
  cursor: pointer;
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 300;
  border-bottom: 1px solid var(--textColor);
  transition: all 0.1s ease-in-out;
}

section .form button#back-btn::after {
  content: "→";
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

section.error-form {
  min-width: 6rem;
  min-height: 4rem;
  background-color: var(--backgroundColor);
  display: none;
}

header #start-btn::-moz-selection {
  background: none;
}

header #start-btn::selection {
  background: none;
}

header #start-btn {
  cursor: pointer;
  border-bottom: 1px solid var(--textColor);
}

.centre-ad {
  display: block;
  margin: 1rem auto;
  max-width: 100vw;
}

.suggestions-sent {
  padding: 1rem 0;
  display: none;
}

.suggestions-info {
  padding: 1rem 0;
  text-align: left;
}
.suggestions-info a.inline-a {
  margin-bottom: 1rem;
}
.suggestions-info form {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.suggestions-info form textarea,
.suggestions-info form input,
.suggestions-info form select {
  text-align: left;
  padding: 0.3rem;
  resize: vertical;
  margin-bottom: 1rem;
  color: var(--textColor);
}
.suggestions-info form textarea {
  min-height: 5rem;
}
.suggestions-info form select option {
  background-color: var(--backgroundColor);
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
}
.suggestions-info form p {
  font-size: 0.9rem;
  font-style: italic;
  color: #9c9c9c;
  margin-bottom: 0.5rem;
}
.suggestions-info form p.error {
  color: var(--deleteColor);
  margin: 0;
  display: none;
}
.suggestions-info form a {
  width: -moz-fit-content;
  width: fit-content;
}

html {
  font-family: "Inter", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
@media (hover: hover) {
  a.inline-a:hover {
    background: var(--highlightColor);
    color: black;
    border-bottom: 3px solid var(--backgroundColor);
  }
  a.card:hover {
    background: var(--hoverColor);
  }
  .menu button:hover {
    background: var(--hoverColor);
  }
  button#hide-info-btn:hover {
    color: var(--tertiaryTextColor);
  }
  div.info-container p button:hover {
    background-color: var(--deleteColor);
  }
  section .form button:hover {
    cursor: pointer;
    background-color: var(--hoverColor);
  }
  section .form button#back-btn:hover {
    color: var(--borderColor);
    border-color: var(--borderColor);
    background: none;
  }
}
@media only screen and (max-width: 1080px) {
  footer {
    justify-content: flex-start;
    flex-direction: column-reverse;
  }
  footer a {
    position: relative;
    width: 20rem;
    border-bottom: none;
  }
  footer a.inline-a {
    border-bottom: none;
  }
  footer a.inline-a:hover {
    border-bottom: none;
  }
  footer a:last-child {
    border-top: 3px solid #ffff00;
  }
  footer a#feedback-link {
    right: auto;
  }
  footer a#rules-link {
    right: auto !important;
    left: auto !important;
  }
  footer a#dark-mode-btn {
    left: auto;
  }
}
@media only screen and (max-width: 630px) {
  body {
    width: 480px;
  }
  #dark-mode-btn {
    position: static;
  }
  .header a {
    font-size: 3rem;
  }
  aside {
    height: 10rem;
  }
  .inner-cont {
    flex-direction: column;
  }
  .outer-cont {
    margin-bottom: 5rem;
  }
  .card {
    width: 100%;
  }
  div.info-container p {
    width: 7rem;
    height: 2.5rem;
    font-size: 0.8rem;
  }
}
@media only screen and (max-width: 515px) {
  body {
    width: 380px;
  }
  div.info-container p {
    width: 5.6rem;
    height: 2.2rem;
    font-size: 0.7rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .header a {
    font-size: 2rem;
  }
  header .wrapper {
    font-size: 0.8rem;
  }
  button#hide-info-btn {
    margin-top: 0.5rem;
  }
  h1#location {
    line-height: 110%;
  }
}
@media only screen and (max-width: 380px) {
  body {
    width: 310px;
  }
  div.info-container p {
    width: 4.5rem;
    height: 2rem;
    font-size: 0.6rem;
  }
  h3 {
    font-size: 1rem;
  }
}/*# sourceMappingURL=style.css.map */