* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    background: #ffff00;
}

html {
    font-family: 'Inter Var', 'Inter', 'Helvetica', sans-serif;
    text-align: center;
}

body {
    width: 600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.header a {
    background: #ffff00;
    padding: 0.2rem 1rem;
    font-size: 4rem;
    font-weight: 900;   
}

.header {
    border-bottom: 1px solid #dcdcdc;
    padding: 1rem;
}

.menu {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inner-cont {
    display: flex;
    justify-content: space-between;
}

.outer-cont {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li {
    list-style: none;
    margin: 0.5rem 0;
}

.card {
    font-size: 0.9rem;
    padding: 1rem;
    border: 1px solid #dcdcdc;
    background: #fff;
    display: inline-block;
}

p a {
    font-weight: 400;
    border-bottom: 3px solid #ffff00;
    transition: 0.1s background-color ease-in-out;
}

p a:hover {
    background: #ffff00;
    border: none;
}

a.card {
    font-weight: 400;
    font-size: 1rem;
    transition: 0.1s ease-in-out
}

a.card:hover {
    background: #eee;
}

h2 {
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.menu button {
    border: 1px solid #dcdcdc;
    width: 200px;
    height: 60px;
    background: #fff;
    font-size: 1rem;
    margin: 0.5rem;
    transition: 0.1s ease-in-out;
    cursor: pointer;
}

.menu button:hover {
    background: #eee;
}

footer {
    height: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}