@import url("https://rsms.me/inter/inter.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter Var', 'Inter', 'Helvetica', sans-serif;
}

::-moz-selection {
  background: #ffff00;
}

::selection {
  background: #ffff00;
}

html {
  text-align: center;
}

body {
  width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.header a {
  background: #ffff00;
  padding: 0.2rem 1rem;
  font-size: 4rem;
  font-weight: 900;
}

.header {
  border-bottom: 1px solid #dcdcdc;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu {
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.outer-cont {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.half-card {
  width: calc(50% - 0.5rem);
}

li {
  list-style: none;
  margin: 0.5rem 0;
}

.card {
  font-size: 0.9rem;
  width: var(--amount, 100%);
  padding: 1rem;
  border: 1px solid #dcdcdc;
  background: #fff;
  display: inline-block;
}

.outer-cont .card {
  margin-top: 1rem;
}

p a {
  font-weight: 400;
  border-bottom: 3px solid #ffff00;
  -webkit-transition: 0.1s background-color ease-in-out;
  transition: 0.1s background-color ease-in-out;
}

p a:hover {
  background: #ffff00;
  border: none;
}

p a::after {
  content: "\2197";
  display: inline-block;
  width: 1rem;
  height: 1rem;
}

a.card {
  font-weight: 400;
  font-size: 1rem;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

a.card:hover {
  background: #eee;
}

h2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.menu button {
  border: 1px solid #dcdcdc;
  width: 200px;
  height: 60px;
  background: #fff;
  font-size: 1rem;
  margin: 0.5rem;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  cursor: pointer;
  color: #000;
}

.menu button:hover {
  background: #eee;
}

footer {
  height: 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: 'Inter var', sans-serif;
  }
}

@media only screen and (max-width: 800px) {
  body {
    width: 320px;
  }
  .header a {
    font-size: 3rem;
  }
  footer {
    height: 10rem;
  }
  .inner-cont {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .outer-cont {
    margin-bottom: 5rem;
  }
  .card {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */